:root{
    --white:#F3F9FB;
    --blue:#87C0CD;
    --navy:#226597;
    --cold:#113F67;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cold);
    width: 100%;

}

.headerTitle{
    font-size: calc(30px + 3vw);
    font-weight: bold;
    color: var(--white);
    padding: 20px;
}

main{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    padding: 20px;
    gap: 20px;
}

.searchbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.searchInput{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: #113F67 2px solid;
    
}

.searchInput:focus,.searchInput:hover{
    filter: brightness(85%);
}

#searchButton{
    background-color: var(--navy);
    color: var(--white);
    font-weight: bold;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: calc(8px + 1vw);
}

#searchButton:hover{
    filter: brightness(85%);
}


.mainTable{
    width: 100%;
    background-color: var(--blue);
    height: 700px;
    max-height: 90%;
    border-radius: 10px;
    padding: 30px;
}

.patientCard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: bold;
    width: 150px;
    height: 200px;
    background-color: var(--cold);
    border-radius: 10px;
}

#addPatientButton{
    font-size: calc(20px + 1vw);
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
