:root{
    --white:#F3F9FB;
    --blue:#87C0CD;
    --navy:#226597;
    --cold:#113F67;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cold);
    width: 100%;

}

.headerTitle{
    font-size: calc(30px + 3vw);
    font-weight: bold;
    color: var(--white);
    padding: 20px;
}

main{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    padding: 20px;
    gap: 20px;
}

.searchbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.searchInput{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: #113F67 2px solid;
    
}

.searchInput:focus,.searchInput:hover{
    filter: brightness(85%);
}

#searchButton{
    background-color: var(--navy);
    color: var(--white);
    font-weight: bold;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: calc(8px + 1vw);
}

#searchButton:hover{
    filter: brightness(85%);
}



.mainTable{
    width: 100%;
    background-color: var(--blue);
    height: 700px;
    max-height: 90%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px
}

table {
    width: 90%;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 1 px solid var(--cold);
}

th {
    font-size: calc(3px + 1vw);
    border: 1px solid var(--cold);
    padding: 10px 20px;
    background-color: var(--cold);
    color: var(--white);
    font-weight: bold;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

#addPatientButton{
    font-size: calc(3px + 1vw);
    background-color: var(--cold);
    padding: 10px;
    color: var(--white);
    font-weight: bold;
    border-radius: 10px;
    border: none;

}

#addPatientButton:hover{
    filter: brightness(85%);
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: start;
}
    /* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 10px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
  
.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.modalHeaderTitle{
    font-size: calc(20px + 1vw);
    font-weight: bold;
} 



.patientFormTop{
    display: flex;
}

.patientFormRight, .patientFormLeft{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: auto;
    width: 50%;
    gap: 10px;
}

.formTitle{
    font-weight: bold;
    font-size: calc(15px + 1vw);
    border-radius: 10px;
    background-color: var(--navy);
    padding-left: 20px;
    color: var(--white);
}
.formTextInput{
    padding: 5px;
    font-size: calc(3px + 1vw);
    border-radius: 10px;
    border: solid 1px black;
    padding-left: 10px;
}

.selectInput{
    padding: 5px;
    font-size: calc(3px + 1vw);
    border-radius: 10px;
    border: solid 1px black;
}


.patientFormBottom{
    justify-content: center;
    display: flex;
    gap: 50px;
    flex: auto;
}



.alergiasContainer , .enfermedadesContainer, .habitosContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: auto;
}

.enfermedadesContainer{
    flex: 5;
}

.alergiasContainer   > .formTitle, .enfermedadesContainer  > .formTitle, .habitosContainer  > .formTitle{
    font-weight: bold;
    font-size: calc(15px + 1vw);
    border-radius: 10px;
    background-color: var(--navy);
    color: var(--white);
    padding-left: 0;
    text-align: center;
}

.enfermedadesContainer > .checkboxContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    padding: 10px;
    background-color: var(--white);
}

.checkboxContainer{
    font-size: calc(1px + 1vw);
}



  /* The Close Button */
.close {
float: right;
background: none;
border: none;
color: black;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
